VITE_SUPABASE_URL=https://bqlrbdzmexmjcumechmt.supabase.co
VITE_SUPABASE_ANON_KEY=.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJxbHJiZHptZXhtamN1bWVjaG10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNTg5NDAsImV4cCI6MjA4OTgzNDk0MH0.Nu1n2RTZLmkV8jcabepTGYNoDfvMCw6ItBoeMTJf_7Y
